Hi <%=@user.profile.first_name%>,
<br />
<br />
Sorry you’re having trouble logging in. You can change your password by clicking <a style="color:#b5364b" href="<%=@link%>">here</a>. Keep in mind, this link will expire in 60 minutes.