  <tr>
    <td align="left">
      <p style="margin:10px 20px">
      <h1 style="color:#56a748;margin:0px;font-weight:bold;font-size:14px;">Welcome to <%=  Constant::AppName %>!</h1>
      </p>
    </td>
    <td align="right">
      <p style="margin:10px 20px;color:#aaa;">
        <%= Date.today.to_s %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="background-color:#f1f7f7" colspan="2">
      <div style="margin:10px">
        <p>
          <%= @user.profile.full_name %>,
        </p>
        <p>
          Welcome to the all-new <%= Constant::AppName %> brought to you by <a href="www.kp.org/healthyworkforce">healthyworkforce</a>. This is an exciting app and you can do so many things!!!
        </p>
      </div>
    </td>
  </tr>